<%- include ("partials/header") %>
<div class="container">
 <div class="jumbotron" >
    <h1>Welcome to Travel India</h1>
	<a href="/campgrounds"><h3>
		View places in India
		</h3></a>

  </div>
</div>

<%- include ("partials/footer") %>