
<!DOCTYPE html>
<html>
    <head>
        <title>Travel India</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap" rel="stylesheet">
    </head>
	<body id="landing3">
		<div class="container">
			<div id="landingheader">
			<h1 id="landing1">Welcome to Travel India</h1>
			<a class="btn btn-success btn-lg" id="landing2" href="/campgrounds">
				View places in India
				</a>
			</div>
		</div>
<%- include ("partials/footer") %>