.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#j{
	padding-top: 20%;
}

#landing3{
	background-image: url("https://www.narcity.com/u/2018/08/16/8404a8b6f2edf60e0882a92877ea8fdf561e3a9b.jpg_1200x630.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#landing1{
	text-align: center;
	margin-top: 3em;
	font-size: 5em;
	color: white;
	font-family: 'Dancing Script', cursive;
}
#landing2{
	font-weight: 10px;
	font-size: 18px;
	border-radius: 6px;
	line-height: 1.333;
	padding: 10px 16px;
	margin: 0 40%;
}